@import 'tailwindcss';

@theme {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-dark: #181E1E;
    --color-pink: #E63946;
    --color-light-pink: #FF6864;
    --color-yellow: #FFCA28;
    --font-inter: "Inter", serif;
    --font-alegreya: "Alegreya", serif;
}

.container {
    @apply mx-auto px-4;
}

.btn {
    @apply font-bold px-8 py-2.5 bg-pink text-white rounded-[10px] cursor-pointer hover:bg-white hover:text-pink transition-all duration-150;
}

/* header css */
.header {
    @apply fixed z-10 top-6 left-[50%] -translate-x-[50%] w-[90%] backdrop-blur-2xl mx-auto text-white rounded-b-[10px];
    background-color: #0005;
}

.nav-links {
    @apply flex gap-x-12 font-bold
}

.menu-open>div:first-child {
    @apply rotate-45 translate-y-1;
}

.menu-open>div:last-child {
    @apply -rotate-45 -translate-y-[3px];
}

.dropdown-open {
    @apply absolute top-full left-0 w-full bg-[#111111];
}

.dropdown-open>.nav-links {
    @apply flex-col p-4 gap-y-2.5
}

/* hero section css */
.hero-section {
    @apply h-[720px] bg-no-repeat bg-cover bg-center relative z-0 bg-[url('/assets/banner.jpg')];
}

.hero {
    @apply mx-4 md:mx-0 absolute bottom-0 right-0 md:right-[1%] p-8 rounded-t-[20px] border-4 bg-[#0005] border-white backdrop-blur-2xl border-b-0 text-white max-w-[450px];
}

.line {
    @apply font-bold mb-6 relative after:absolute after:-bottom-1.5 after:left-0 after:w-16 after:h-1 after:bg-pink;
}

/* learn section css */
.learn-list {
    @apply not-last:mb-6 relative before:absolute before:w-2 before:h-2 before:rounded-full before:bg-pink before:-left-4 before:top-[50%] before:-translate-y-[50%];
}

.learn-img-div {
    @apply relative self-center hidden md:block after:absolute after:-bottom-8 after:-right-8 after:w-20 after:h-16 after:border-yellow after:border-8 after:border-t-0 after:border-l-0
}

.learn-row {
    @apply grid gap-8 md:grid-cols-2 text-center
}

.learn-row div:first-child {
    @apply relative after:absolute after:-top-8 after:left-0 after:w-20 after:h-16 after:border-pink after:border-8 after:border-b-0 after:border-r-0
}

.svg-path>path {
    @apply stroke-1 fill-transparent stroke-white last:stroke-pink;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: animateText 4s ease-in-out infinite;
}

@keyframes animateText {
    0% {
        stroke-dashoffset: 50;
    }

    50% {
        stroke-dashoffset: 0;
    }

    80% {
        fill: #ffffff00;
    }

    100% {
        fill: #ffffff;
        stroke-dashoffset: 50;
    }
}